
body {
  background-color: #fcfcfc !important;
}

#myForm{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #d4d4d4;
  overflow: hidden;
  padding: 25px;
}

.formTitle{
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: bold;
  color: #5f9341 !important;
}


.table{
  border: 1px solid rgba(0,0,0,.2) !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  overflow: hidden !important;
  padding: 25px ;
}



label[type=text]{
 color: #333;
 font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

input, select, th {
  font-family: 'Merriweather', 'Times New Roman', Times, serif !important;
}

.text{
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

#myButton{
  background-color: #fff;
  border: 0px;
}


.mySelect{
  height: 36px !important;
}

ul{
  list-style-type: none;
  text-align: center;
}

h2 {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: bold !important;
  color: #333 !important;
  margin-left: 1%;
}

.mySubmit{
  width: auto !important;
  color: white  !important;
  text-decoration:none !important;
  border-radius:5px  !important;
  border:solid 1px  rgba(0,0,0,.2) !important;
  background: #878686 !important;
  text-align:center  !important;
  padding:16px 18px 14px  !important;
}

.center-block {
  margin-top: 70px !important;
}


form  {
  margin: 60px 0 0 0 !important;
}

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px !important;
  height: 64px !important;
  text-align: center !important;
  font-size: 36px !important;
  padding-top: 14px !important;
  z-index: 100 !important;
  opacity: 0.8 !important;
}

#test{
  display: none;
}

#myErrors, h2, h3{
color: #101010 !important;
}


body {
  padding : 15px ;
}

a {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: bold !important;
  color: #5f9341 !important;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049 !important;
}

.noUi-connect{
  background: #4caf50 !important;
}


.slider{
  padding: 50px !important;
}










