body {
  background-color: #fcfcfc !important;
}

.heading {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #26A65B;
}

.text {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1.7;
  margin-bottom: 25px;
}

h4.heading {
  color: #333;
}

h3.heading {
  margin-bottom: 20px;
}
