body {
  background-color: #fcfcfc !important;
}

h2 {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: bold !important;
  color: #333 !important;
  margin-left: 1%;
}

a {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  color: #5f9341 !important;
}

.heading {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #5f9341;
}

.text {
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1.7;
  margin-bottom: 25px;
}

h4.heading {
  color: #333;
}

h3.heading {
  margin-bottom: 20px;
}
