body {
  background-color:#ececec !important;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
}


.table-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#chart {
  margin-bottom: 20px;
}

.tables {
  margin-bottom: 100px; 
}

#add{
  display: none;
}

.js-input{
  display: block;
  clear: both;
}

body {
  padding: 15px;
}
