body {
  background-color: #fcfcfc !important;
}

h2 {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: bold !important;
  color: #333 !important;
  margin-left: 1%;
}

a {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #5f9341 !important;
}


#chart {
  margin-bottom: 20px;
}

.tables {
  margin-bottom: 100px; 
}

#add{
  display: none;
}

.js-input{
  display: block;
  clear: both;
}

body {
  padding: 15px;
}

.carousel-control-next, .carousel-control-prev {
  width: 20% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  position: fixed !important;
  top: 50%;
  background-color: #5f9341 !important;
  padding: 65px;
  border-radius: 100px;
  background-size: 30% 30% !important;
}
